*{
    margin: 0px;
    padding: 0px;

}

.main{
    height: 100px;
    width: 100%;
    /* background-color:yellow ; */
    position: relative;
    
}
.main>h1{
    position: absolute;
    left: 600px;
    top: 20px;
    /* background-color: royalblue; */
    transition: all 2s ease-in-out;
    transition-property: transform ;
}
.main>h1:hover{
    color: red;
    transform: scale(1.3);
    
}
.navbar{
    position: relative;
    /* background-color: chartreuse; */
    height: 100px;
    width: 100%;
}
.navbar>ul{
    position: absolute;
    left: 300px;
    top: 40px;
}
li{
    list-style: none;
    float: left;
    margin-left: 50px;
    font-size: 20px;
    color: blue;
    transition: all 2s ease-in-out;
    transition-property: transform ;
}
li:hover{
    color: red;
    transform: scale(1.2);

}
.header-1{
    height: 400px;
    width: 100%;
    /* background-color: hotpink; */
    position: relative;
}
.p-1{
    position: absolute;
    height: 400px;
    width: 600px;
    /* background-color: indigo; */
    transition: all 2s ease-in-out;
    transition-property: transform ;
}
.p-1:hover{
    transform: scale(0.7);
    transition-duration: 3s;
}
.p-2{
    position: absolute;
    height: 400px;
    width: 700px;
    /* background-color: red; */
    left: 650px;

}
.p-2>h1{
    color: black;
    margin-top: 50px;
    transition: all 2s ease-in-out;
    transition-property: transform ;
}
h1:hover{
    color: red;
    transform: translateX(40px);
}
.p-2>p{
    color: black;
    margin-top: 40px;
    text-align: left;
    transition: all 2s ease-in-out;
    transition-property: transform ;

}
p:hover{
    /* color: red; */
    transform: translateX(40px);
}
.p-2>button{
    height: 40px;
    width: 150px;
    margin-top: 40px;
    margin-left: 100px;
    border-radius: 15px;
    /* transform: skew(20deg 20deg); */
    transform: perspective(9cm) rotateY( 21deg );
    background-image: linear-gradient(to right, white,blue);
    transition: all 2s ease-in-out;
    transition-property: transform ;
}
button:hover{
    transform: scale(1.1);
}
.OUR-PRODUTS{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    transition: all 2s ease-in-out;
    transition-property: transform ;
    /* background-color: aqua; */
}
.ph-1{
    height: 750px;
    width: 100%;
    /* background-color: hotpink; */
}
.pi{
    height: 300px ;
    width: 300px;
    /* background-color: indigo; */
    float: left;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 50px;
    transform: skewX( 10deg) skewY(-13deg);
    transition: all 2s ease-in-out;
    transition-property: transform ;
    background-image: url("im1.jpg");
    background-size: 100% 100%;
}

.pi:hover{
    transform: skewX( 29deg) skewY(0deg);
    /* background-image: url("im1.jpg"); */

}
.e-2{
    background-image: url("im2.jpg");
}
.e-3{
    background-image: url("im3.jpg");
}
.e-4{
    background-image: url("im4.jpg");
}
.f-1{
    background-image: url("im5.jpg");
}
.f-2{
    background-image: url("im6.jpg");
}
.f-3{
    background-image: url("im7.jpg");
}
.f-4{
    background-image: url("im8.jpg");
}
.i{
    transform: rotate(35deg);
    /* transform: translate(5px); */
}
.OUR-CHEFS{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    transition: all 2s ease-in-out;
    transition-property: transform ;
    /* background-color: aqua; */
}
.zz{
    height: 300px ;
    width: 300px;
    /* background-color: indigo; */
    float: left;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 50px;
    transform: skewX( 10deg) skewY(-13deg);
    transition: all 2s ease-in-out;
    transition-property: transform ;
    background-image: url("im1.jpg");
    background-size: 100% 100%;
}
.zz:hover{
    transform: skewX( 27deg) skewY(18deg);
    /* background-image: url("im1.jpg"); */
}






}
.e-2{
    background-image: url("im2.jpg");
}
.e-3{
    background-image: url("im3.jpg");
}
.e-4{
    background-image: url("im4.jpg");
}
.f-1{
    background-image: url("im5.jpg");
}
.f-2{
    background-image: url("im6.jpg");
}
.f-3{
    background-image: url("im7.jpg");
}
.f-4{
    background-image: url("im8.jpg");
}